<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ isViewing ? 'Editar Cita' : 'Agendar Cita' }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/appointment"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Barbero</ion-label>
      <ion-select interface="modal" formControlName="barber">
        @for (barber of barbers$ | async; track barber.id) {
        <ion-select-option [value]="barber.id">{{barber.name}}
        </ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Servicio</ion-label>
      <ion-select interface="modal" formControlName="service">
        <ion-select-option value="corte-hombre">Corte Hombre</ion-select-option>
        <ion-select-option value="arreglo-barba">Arreglo de Barba</ion-select-option>
        <ion-select-option value="tinte">Tinte de Cabello</ion-select-option>
      </ion-select>
    </ion-item>

    @if (isViewing || isViewingDate) {
    <ion-item>
      <ion-label position="stacked">Fecha y Hora Actual de la Cita</ion-label>
      <h2>{{ formattedAppointmentDate }}</h2>
    </ion-item>
    <ion-item>
      <ion-button expand="full" (click)="isViewing = false; resetSelection()">
        <ion-icon name="calendar" slot="start"></ion-icon>
        Cambiar Fecha y Hora
      </ion-button>
    </ion-item>
    }@else {

    <ion-list>
      <ion-list-header>
        <ion-label>Fecha de la Cita</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-datetime-button datetime="date-picker-modal" [disabled]="isViewing">
        </ion-datetime-button>

        <!-- Modal del Selector de Fecha -->
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="date-picker-modal" formControlName="date" locale="es-ES"
              [presentation]="datePickerPresentation" [max]="oneWeekFromNow" [value]="selectedDate"
              (ionChange)="onDaySelected($event)" showDefaultButtons="true"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
    </ion-list>

    }

    @if (selectedDate && availableHours.length > 0 && !isViewing) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>Disponibilidad</ion-card-title>
        <ion-card-subtitle>{{ selectedDate | date:'fullDate' }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        @for (hour of availableHours; track hour) {
        <ion-chip (click)="onHourSelected(hour)">
          <ion-label>{{ hour }}</ion-label>
        </ion-chip>
        }
      </ion-card-content>
    </ion-card>

    } @else if (selectedDate && !isViewing) {
    <ion-card>
      <ion-card-content>
        No hay horas disponibles para este día.
      </ion-card-content>
    </ion-card>
    }

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="clientName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="clientEmail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Celular</ion-label>
      <ion-input type="tel" formControlName="clientPhone"></ion-input>
    </ion-item>

    @if(errorMessage){
    <div class="ion-padding-top ion-padding-bottom">
      <ion-note color="danger">{{ errorMessage }}</ion-note>
    </div>
    }
    @if(isViewing){
    <ion-button expand="full" type="submit" [disabled]="!appointmentForm.valid">Actualizar Cita</ion-button>
    <ion-button expand="full" type="button" (click)="presentAlertMultipleButtons(this.appointmentId!)">Cancelar
      Cita</ion-button>
    } @else {
    <ion-button expand="full" type="submit" [disabled]="!appointmentForm.valid || !selectedHour">Agendar
      Cita</ion-button>
    }
  </form>
</ion-content>