<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ this.appointmentId ? 'Editar Cita' : 'Agendar Cita' }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/appointment"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(isLoading && !appointmentForm.dirty)
  {
    <ion-spinner name="crescent">
      <p>Cargando datos de la cita...</p>
    </ion-spinner>
    
  }

  @if(!isLoading || appointmentForm.dirty){
    <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-select [label]="lbSelectBarber" label-placement="floating" class="formControl" cancelText="Cerrar"
        formControlName="barber">
        @for (barber of barbers$ | async; track barber.id) {
        <ion-select-option [value]="barber.id">
          {{barber.name | titlecase}}
        </ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Selecciona un Servicio" label-placement="floating" class="formControl" cancelText="Cerrar"
        formControlName="service">
        <ion-select-option selected aria-selected="true" value="corte-hombre">Corte Hombre</ion-select-option>
        <ion-select-option value="arreglo-barba">Arreglo de Barba</ion-select-option>
        <ion-select-option value="tinte">Tinte de Cabello</ion-select-option>
      </ion-select>
    </ion-item>

    @if (isViewing || this.appointmentId) {
    <ion-item>
      <ion-label position="stacked">Fecha y Hora Actual de la Cita</ion-label>
      <h2>{{ formattedAppointmentDate }}</h2>
    </ion-item>
    <ion-item>
      <ion-button expand="full" (click)="resetSelection()">
        <ion-icon name="calendar" slot="start"></ion-icon>
        Cambiar Fecha y Hora
      </ion-button>
    </ion-item>
    }@else {
    @if(this.selectedBarber && this.serviceDuration && this.isViewingDate){
    <ion-item>
      <ion-datetime presentation="date" locale="es-ES" cancelText="Cancelar" formControlName="date"
        (ionChange)="onDaySelected($event)">
      </ion-datetime>
    </ion-item>
    }
    }
    @if (isViewingDispo) {
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Disponibilidad</ion-card-title>
          <ion-card-subtitle>{{ selectedDate | date:'fullDate' }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          @for (hour of availableHours; track hour) {
          <ion-chip (click)="onHourSelected(hour)" [outline]="selectedHour !== hour"
            [color]="selectedHour === hour ? 'primary' : ''" class="ion-margin-bottom ion-margin-end">
            <ion-label>{{ hour }}</ion-label>
          </ion-chip>
          }
          <ion-chip (click)="backTime()" color="primary" class="ion-margin-bottom ion-margin-end">Atras</ion-chip>
        </ion-card-content>
      </ion-card>
    </ion-item>
    } @else if (selectedDate && availableHours.length <= 0 && !isViewing) { <ion-card>
      <ion-card-content>
        No hay horas disponibles para este día.
      </ion-card-content>
      </ion-card>

      }
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input placeholder="Ingresa tu nombre completo" class="formControl" type="text"
          formControlName="clientName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input placeholder="Ingresa tu correo electronico" class="formControl" type="email"
          formControlName="clientEmail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Celular</ion-label>
        <ion-input placeholder="Ingresa tu numero de celular" class="formControl" type="tel"
          formControlName="clientPhone"></ion-input>
      </ion-item>

      @if(errorMessage){
      <div class="ion-padding-top ion-padding-bottom">
        <ion-note color="danger">{{ errorMessage }}</ion-note>
      </div>
      }

      <ion-button expand="full" type="submit" [disabled]="appointmentForm.invalid || isLoading">
        {{this.appointmentId? 'Actualizar Cita' : 'Agendar Cita' }}</ion-button>
      @if(this.appointmentId){
      <ion-button expand="full" type="button" (click)="presentAlertMultipleButtons(this.appointmentId!)">Cancelar
        Cita</ion-button>
      }
  </form>
  }
  
</ion-content>