<app-navbar></app-navbar>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-header>
    <ion-toolbar>
      <ion-item>
        <ion-buttons slot="start">

          <ion-button (click)="goToForm()" expand="full">
            <ion-icon slot="start" name="add-circle-outline"></ion-icon>
            <ion-text>
              Agregar Usuario
            </ion-text>
          </ion-button>

        </ion-buttons>

      </ion-item>
    </ion-toolbar>
  </ion-header>

  @for (user of users$ | async; track user.id) {
  <ion-card class="ion-text-center" (click)="goToEdit(user.id)">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-avatar>
            <img [src]="user.photoUrl || 'assets/default-avatar.png'">
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-text>
            <p>Nombre:</p>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <p>{{user.name | titlecase}}</p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-text>
            <p>Correo:</p>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <p>{{user.email | titlecase}}</p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>

      <ion-row>


        <ion-col size="3">

          <ion-text>
            <p>Teléfono</p>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <p>{{user.phone}}</p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card-content class="ion-align-items-center">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text>
              <p>
                {{user.role | titlecase}}
              </p>
              <ion-note color="medium">{{user.barberId | titlecase}}</ion-note>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
  } @empty {
  <ion-list>No hay registros en lista.</ion-list>
  }

</ion-content>