<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>

      <ion-button>
        <ion-title>
          {{ '¿Olvidaste tu contraseña?' }}
        </ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">

    <ion-item>

      <ion-input placeholder="Ingresa tu Correo Electronico" class="formControl" id="email" type="email"
        formControlName="email" />

    </ion-item>

    <ion-item>
      <ion-button type="submit" expand="block" [disabled]="forgotPasswordForm.invalid">
        <ion-icon slot="icon-only" ios="logo-apple" md="add-circle"></ion-icon>
        {{ 'Enviar Correo' }}
      </ion-button>
      <ion-button (click)="returnLogin()" color="danger">
        Cancelar
      </ion-button>


      <!-- // -->
    </ion-item>
  </form>

</ion-content>