<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title>
        <ion-text>
          <h1>Gestor de Citas</h1>
        </ion-text>
      </ion-card-title>
      <ion-card-subtitle>
        <ion-text>
          <h2>Ingresa para gestionar tu agenda y servicios.</h2>
          @if(this.bId){<h2>con {{this.bId | titlecase}}.</h2>}
        </ion-text>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-text>
        <p>
          Usa tu cuenta de Google para iniciar sesión y gestionar tus citas y servicios de forma rápida y segura.
        </p>
        <ion-note color="medium">Al ingresar por primera vez se creará automáticamente tu perfil asociado al
          correo.</ion-note>
      </ion-text>
    </ion-card-content>

    <ion-button expand="block" color="danger" (click)="signInWithGoogle()" shape="round" fill="outline">
      <ion-icon name="logo-google" slot="icon-only" fill="solid"></ion-icon>
      Ingresa con Google
    </ion-button>
  </ion-card>


  <!-- <form [formGroup]="loginForm" (ngSubmit)="login()"> -->

    <!-- <ion-item lines="full" class="ion-margin-bottom">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    @if(controlEmail?.invalid && (controlEmail?.dirty || controlEmail?.touched)){

    <div class="ion-padding-top ion-padding-bottom">
      @if(controlEmail?.errors?.['required']){<ion-note color="danger">El correo es obligatorio.</ion-note>}
      @if(controlEmail?.errors?.['email']){<ion-note color="danger">Formato de correo inválido.</ion-note>}
    </div>
    } -->


<!-- 
    <ion-item lines="full" class="ion-margin-bottom">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item> -->

    <!-- @if(controlPassword?.invalid && (controlPassword?.dirty || controlPassword?.touched)){

    <div class="ion-padding-top ion-padding-bottom">
      @if(controlPassword?.errors?.['required']){
      <ion-note color="danger">La contraseña es obligatoria.</ion-note>
      }
      @if(controlPassword?.errors?.['minlength']){
      <ion-note color="danger">Mínimo 6 caracteres.</ion-note>
      }

    </div>

    }

    @if(errorMessage){

    <div class="ion-padding-top ion-padding-bottom">
      <ion-note color="danger">{{ errorMessage }}</ion-note>
    </div>

    } -->



    <!-- <ion-button expand="full" type="submit" [disabled]="loginForm.invalid || isLoading" class="ion-margin-top">
      @if (isLoading) {
      <ion-spinner name="crescent"></ion-spinner>
      } @else {
      Iniciar Sesión
      }
    </ion-button> -->
  <!-- </form> -->
  <!-- 
  <div class="ion-text-center ion-padding-vertical">
    <ion-text color="medium">
      <p>Crear Nueva Cuenta</p>
    </ion-text>
    <a routerLink="/usuarios/form">Regístrate aquí</a>
    <ion-button expand="full" color="secondary" (click)="register()" [disabled]="isLoading">
      <ion-icon name="person-add-outline" slot="start"></ion-icon>
    </ion-button>
  </div> -->

  <!-- 
  <div class="ion-padding-top">
    <a routerLink="/auth/forgot-password">¿Olvidaste tu contraseña?</a>
  </div> -->

  <ion-footer>
    <ion-toolbar>
      <ion-title>
        <ion-text>
          <h6>
            <p>
              <ion-icon name="heart-outline"></ion-icon>
              By JDNA © 2025 Todos los derechos reservados.
            </p>
          </h6>


        </ion-text>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>